html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    font-size: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(135deg, #f8f9fa76 0%, #e9ecef 100%);
    text-align: center;
    flex: 1;
}

h1 {

    font-size: 2.5rem;
}


.footer {
    background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
    padding: 1rem 0; /* Espacement vertical */
}

.content-wrapper {
    flex: 1; /* Prend l’espace restant pour pousser le footer en bas */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    
    padding: 20px;
    border-radius: 8px;

    max-width: 90%;
    margin-top: 20px;
}

/* #footer {
    margin-top: auto;
} */

#navbar {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    
    text-decoration: none;
}
.navbar-brand:hover{
    
    text-decoration: none;
}

.nav-link {
    font-size: 1.1rem;
    margin-right: 15px;
    
}

.nav-link:hover {
    
    text-decoration: none;
}

/* tableau  */
.table th, .table td {
    vertical-align: middle;
}
.badge {
    font-size: 0.8em;
    padding: 0.3em 0.6em;
    margin-left: 0.3em;
}
.repas-nom {
    font-weight: bold;
    font-size: 1.1em;
}
.repas-details {
    font-size: 0.9em;
    margin-top: 0.2em;
}
.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}
.jour-semaine {
    font-size: 1.2em;
    font-weight: bold;
    color: #007bff;
}
.date {
    font-size: 0.9em;
}

.table th, .table td {
    vertical-align: middle;
}
.badge {
    font-size: 0.8em;
    padding: 0.3em 0.6em;
    margin-left: 0.3em;
}
.repas-nom {
    font-weight: bold;
    font-size: 1.1em;
}
.repas-details {
    font-size: 0.9em;
    margin-top: 0.2em;
}
.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}
.jour-semaine {
    font-size: 1.2em;
    font-weight: bold;
    color: #007bff;
}
.date {
    font-size: 0.9em;
}

.navbar {
    padding: 0.8rem 1rem;
}

.navbar-brand {
    font-size: 1.4rem;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #0d6efd !important;
}
/*   --------------------  */

